# ingore build artifacts from latex
*/.output
*.synctex.gz
*.xdv
*.lol

# ignore build artifacts from bibtex and biblatex
*.bbl
*.blg
*.lof
*.lot
*.run.xml
*.bcf

# ingore compiled pdfs
*.pdf

# ignore compile aritfacts from c#
bin/
obj/

# ingore python artifacts
.venv
